
.continer_home{
   
    display: flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 15rem 17rem 3rem;
   
}
.item_home{
    object-fit: cover;
    object-position: 50% 50%;


}